[package]
authors = ["Robert Collins <robert.collins@cognite.com>"]
categories = ["api-bindings", "web-programming"]
default-run = "dump-features"
description = "An https://unleash.github.io/ API client"
edition = "2018"
homepage = "https://github.com/cognitedata/unleash-client-rust/"
keywords = ["continualdeployment"]
license = "Apache-2.0"
name = "unleash-api-client"
readme = "README.md"
repository = "https://github.com/cognitedata/unleash-client-rust/"
rust-version = "1.60"
version = "0.8.0"

[badges]
[badges.maintenance]
status = "experimental"

[features]
# Enable backtrace feature in anyhow
backtrace = ["anyhow/backtrace"]
default = ["surf-client"]
# Enable the functional test suite
functional = []
reqwest-client = ["reqwest", "reqwest/default-tls"]
# For users that don't want to depend on OpenSSL.
reqwest-client-rustls = ["reqwest", "reqwest/rustls-tls"]
# To error if an unsupported API feature is present
strict = []
# For use with --no-default-features
surf-client = ["surf", "async-std"]

[[bench]]
harness = false
name = "is_enabled"

[[bin]]
bench = false
name = "dump-features"
path = "src/bin/dump-features.rs"
required-features = ["async-std", "surf-client"]

[dependencies]
anyhow = "1.0.44"
arc-swap = "1.4.0"
async-std = { version = "1.10.0", optional = true }
async-trait = "0.1.56"
cfg-if = "1.0.0"
enum-map = "~2.0.1"
futures-timer = "3.0.2"
hostname = "0.3.1"
ipnet = "2.3.1"
log = "0.4.14"
murmur3 = "0.5.1"
rand = "0.8.4"
rustversion = "1.0.7"
serde_json = "1.0.68"
serde_plain = "1.0.0"
surf = { version = "2.3.1", optional = true }

[dependencies.chrono]
default-features = false
features = ["clock", "serde"]
version = "0.4.19"

[dependencies.reqwest]
default-features = false
features = ["json"]
optional = true
version = "0.11.10"

[dependencies.serde]
features = ["derive"]
version = "1.0"

[dev-dependencies]
# async-std = "1.10.0"
criterion = "0.3.5"     # Remember to update audit.toml
futures = "0.3.17"
maplit = "1.0.2"
num_cpus = "1.13.0"
simple_logger = "2.1.0"

[dev-dependencies.tokio]
features = ["rt-multi-thread", "macros", "time"]
version = "1.12.0"

[lib]
bench = false
