[package]
authors = ["Robert Collins <robert.collins@cognite.com>"]
categories = ["api-bindings", "web-programming"]
default-run = "dump-features"
description = "An https://unleash.github.io/ API client"
edition = "2018"
homepage = "https://github.com/cognitedata/unleash-client-rust/"
keywords = ["continualdeployment"]
license = "Apache-2.0"
name = "unleash-api-client"
readme = "README.md"
repository = "https://github.com/cognitedata/unleash-client-rust/"
version = "0.6.1-alpha.1"
[badges]
[badges.maintenance]
status = "experimental"

[[bench]]
harness = false
name = "is_enabled"

[[bin]]
bench = false
name = "dump-features"
path = "src/bin/dump-features.rs"

[dependencies]
anyhow = "1.0.44"
arc-swap = "1.4.0"
async-std = "1.10.0"
enum-map = "2.0.1"
futures = "0.3.17"
futures-timer = "3.0.2"
hostname = "0.3.1"
http-client = "6.5.1"
http-types = "2.12.0"
ipnet = "2.3.1"
log = "0.4.14"
maplit = "1.0.2"
murmur3 = "0.5.1"
rand = "0.8.4"
serde_json = "1.0.68"
serde_plain = "1.0.0"
surf = "2.3.1"
semver = "1.0.5"

[dependencies.chrono]
features = ["serde"]
version = "0.4.19"

[dependencies.serde]
features = ["derive"]
version = "1.0"

[dev-dependencies]
criterion = "0.3.5"
num_cpus = "1.13.0"
simple_logger = "2.1.0"

[dev-dependencies.tokio]
features = ["rt-multi-thread", "macros"]
version = "1.12.0"

[features]
functional = []

[lib]
bench = false
