[package]
authors = ["Robert Collins <robert.collins@cognite.com>"]
categories = ["api-bindings", "web-programming"]
default-run = "dump-features"
description = "An https://unleash.github.io/ API client"
edition = "2018"
homepage = "https://github.com/cognitedata/unleash-client-rust/"
keywords = ["continualdeployment"]
license = "Apache-2.0"
name = "unleash-api-client"
readme = "README.md"
repository = "https://github.com/cognitedata/unleash-client-rust/"
version = "0.5.1-alpha.0"
[badges]
[badges.maintenance]
status = "experimental"

[[bench]]
harness = false
name = "is_enabled"

[[bin]]
bench = false
name = "dump-features"
path = "src/bin/dump-features.rs"

[dependencies]
anyhow = "1.0.28"
arc-swap = "0.4.6"
async-std = "1.6.0"
enum-map = "0.6.2"
futures = "0.3.4"
futures-timer = "3.0.2"
hostname = "0.3.1"
http-client = "6.0.0"
http-types = "2.5.0"
ipaddress = "0.1.2"
log = "0.4.8"
maplit = "1.0.2"
murmur3 = "0.5.1"
rand = "0.7.3"
serde_json = "1.0.52"
serde_plain = "0.3"
surf = "2.0.0-alpha.7"

[dependencies.chrono]
features = ["serde"]
version = "0.4.11"

[dependencies.serde]
features = ["derive"]
version = "1.0"

[dev-dependencies]
criterion = "0.3.2"
num_cpus = "1.13.0"
simple_logger = "1.9.0"

[dev-dependencies.tokio]
features = ["rt-threaded", "macros"]
version = "0.2.20"

[features]
functional = []

[lib]
bench = false
